<table style="border: 0;" cellpadding="0" class="itemlist">
  <tbody>
    <div v-for="(post, index) in this.posts">
      <tr class="athing" :id="post.id">
        <td style="align-self: right;" class="title">
          <span class="rank">{{ index }}.</span>
        </td>
        <td class="votelinks" v-if="post.voted" valign="top">
          <a href="https://hacker-news-fib.herokuapp.com/"><img src="@/assets/images/grayarrow.gif" width="10" height="10"></a>
          <span style="color: #ff6600;">*</span>
          <img src="s.gif" width="1" height="1">
        </td>
        <td class="votelinks" v-if="!post.voted" valign="top">
          <a href="https://hacker-news-fib.herokuapp.com/"><img src="@/assets/images/grayarrow.gif" width="10" height="10"></a>
        </td>
        <td class="title">
          <a v-if="post.typePost == 'ask'" :href="'/posts/'+post.id">{{ post.title }}</a>
          <a v-if="post.typePost != 'ask'" :href="post.url">{{ post.title }}<span class="sitebit comhead"> (<span class="sitestr">{{ post.url }}</span>)</span></a>
        </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td class="subtext">
            <span class="score" :id="'score_'+post.id">{{ post.points }} Points</span> by 
            <a :href="'/user/'+post.user_id">{{ user.username }}</a> 
            <span class="age">{{ timeAgo(post.created_at) }}</span> <span :id="'unv_'+post.id"></span> | 
            <a :href="'/posts/'+post.id">discuss</a>
        </td>
      </tr>
      <tr class="spacer" style="height:5px"></tr>
    </div>
  </tbody>
</table>