<div>
  <table style="border: 0;" class="fatitem">
    <tr class="athing">
      <td class="title"><span class="rank"></span></td>
      <td class="votelinks" v-if="post.voted == true" valign="top">
        <span v-on:click="unvotePost(post)"><img src="@/assets/images/grayarrow.gif" width="10" height="10"/></span>
        <span style="color: #ff6600;">*</span>
        <img src="s.gif" width="1" height="1" />
      </td>
      <td class="votelinks" v-if="post.voted != true" valign="top">
        <span v-on:click="votePost(post)"><img src="@/assets/images/grayarrow.gif" width="10" height="10"/></span>
      </td>
      <td class="title">
        <a v-if="post.typePost == 'ask'" :href="'/posts/'+post.id">{{ post.title }}</a>
        <a v-if="post.typePost != 'ask'" :href="post.url">{{ post.title }}<span class="sitebit comhead">(<span class="sitestr">{{ post.url }}</span>)</span></a>
      </td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td class="subtext">
        <span class="score" :id="'score_'+post.id">{{ post.points }} Point<span v-if="post.points != 1">s</span></span> by 
        <a :href="'/users/'+post.user_id">{{ post.user_username }}</a> <span style="margin-right: 0.2rem;"></span>
        <span class="age">{{ post.time_elapsed }}</span> <span :id="'unv_'+post.id"></span> | 
        <a :href="'/posts/'+post.id"><span v-if="post.num_comments == 0">discuss</span><span v-if="post.num_comments != 0">{{ post.num_comments }} comment<span v-if="post.num_comments != 1">s</span></span></a>
    </td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>
        <div v-if="post.typePost == 'ask'">
          <p>{{ post.text }}</p>
        </div>
        <small class="comment">
          <form @submit="submitComment">
            <div>
              <p>{{ commentFormError }}</p>
            </div>

            <div class="field helptext">
              <textarea
                v-model="commentFormText"
                id="commentFormText"
                name="commentFormText"
              ></textarea>
            </div>

            <div class="actions">
              <input type="submit" value="add comment" />
            </div>
          </form>
        </small>
      </td>
    </tr>
  </table>

  <table class="comment-tree" style="border: 0;">
    <tbody>
      <div style="margin-left: 3rem;" v-for="comment in comments">
        <AppCommentInTree :comment="comment"></AppCommentInTree>
      </div>
    </tbody>
  </table>
</div>
