<div>
  <form class="formContainer" @submit="submitFormData">
    <div>
      <p>{{ error }}</p>
    </div>
    <div class="fieldContainer" style="margin-bottom: 0.3rem;">
      <label class="formLabel" for="title">Title </label>
      <input v-model="title" type="text" id="title" name="title"><br>
    </div>

    <div class="fieldContainer">
      <label class="formLabel" for="title">Url </label>
      <input v-model="url" type="url" id="url" name="url"><br>
    </div>

    <div class="formOr">
      <b>or</b>
    </div> 

    <div class="fieldContainer" style="margin-bottom: 0.3rem;">
      <label class="formLabel">Text </label>
      <textarea v-model="text" id="text" name="text"></textarea>
    </div>

    <div style="margin-left: 2rem;">
      <input type="submit" value="submit">
    </div>

    <p style="padding-left:30px">Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</p>

  </form>
</div>