.formLabel {
    width: 2rem;
}

.aboutBox {
    display: flex;
    justify-content: flex-start;
}

.links {
    margin-left: 1.8rem;
    border-spacing: 0.00000001em;
}

.labels {
    margin-bottom: 0.2rem;
}