<div>
    <div>
         <p>{{error}}</p>
    </div>
    <div class="field username"> user: 
        <span class="username"
              >{{ user.username }}
        </span>
    </div>
    <div class="field apikey"> Api key:
        <span class="apikey"
              >{{ user.apikey }}
        </span>
    </div>
    <div class="field created_at"> created: 
        <span class="created_at">{{ user.created_at }}</span>
    </div>
    <div class="field about">
        <label for="about"> about: </label>
        <textarea v-model="about" id="about" name="about"></textarea> help <br>
    </div>
    <form @user="userData"></form>
        <div class="actions updateuser">
            <input
              type="submit"
              value="Update User"
            >
          </div>
    </form>
    submissions <br>
    comments <br>
    upvoted submissions <br>
    upvoted comments <br>
</div>

<!-- Comment 
where does apikey come from?
how to get user attributes (doesnt work right now because its
not user/:id
how to make words link to an area)
-->