<div>
    <form @submit="aboutCheck">
        <div class="labels">
            <label class="formLabel" for="User">user: </label>
            {{user.username}}
        </div>
        <div class="labels" v-if="loggedUser.id == user.id">
            <label class="formLabel" for="ApiKey">Api Key: </label>
            {{loggedUser.apiKey}}
        </div>
        <div class="labels">
            <label class="formLabel" for="Created">created:</label>
            {{user.created_atAgo}}
        </div>
        <div class="aboutBox" style="margin-bottom: 0.5rem;">
            <label style= "margin-right: 0rem;" class="formLabel"> about: </label>
            <textarea v-if="loggedUser.id == user.id" v-model="about" id="about" name="about"></textarea>
            <div v-if="loggedUser.id != user.id"> {{user.about}}</div>
            <label style="align-self: flex-end;" class="formLabel" v-if="loggedUser.id == user.id"> help </label> <br>
        </div>
        <div class = "links">
            <div><a :href="'/posts_user/'+user.id"><u>submissions</u></a> </div>
            <div><a :href="'/comments/user/'+user.id"><u>comments</u></a> </div>
            <div v-if="loggedUser.id == user.id"><a href="/uposts"><u>upvoted submissions</u></a> </div>
            <div v-if="loggedUser.id == user.id"><a href="/comments/upvoted"><u>upvoted comments</u></a> </div>
        </div>
        <div>
        <p>{{error}}</p>
        </div>
        <div v-if="loggedUser.id == user.id">
            <input type="submit" value="Update User" >
        </div>
    </form>
</div>